<!-- Modal -->
<div class="modal fade" id="ConfirmOkCancelBox" tabindex="-1" role="dialog" aria-labelledby="ConfirmOkCancelBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo __('Zamknij'); ?>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ConfirmOkCancelBoxLabel"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= confirmMessage %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="<%= confirmOkScript %>"><?php echo __('Ok'); ?></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Anuluj'); ?></button>
      </div>
    </div>
  </div>
</div>