/* global */
.datepicker{
  z-index: 1100;
}
.modal-open .wrapper {
  z-index:auto;
}
.no-matter {
  text-decoration:line-through;
  color:red;
}
.table .radio {
  margin:0 auto;
  width:20px;
}
.input-group-btn .inputclear {
    position:absolute;
    left:-20px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#999;
    z-index:3;
    opacity:0.8;
}
.input-group-btn .inputclear:hover {
  opacity:1;
}
input[value=""] + .input-group-btn > .inputclear {
  display:none;
}
.has-error .btn {
  border-color:#F05050;
}
.form-max-height-400 {
  max-height:400px;
  overflow:auto;
}
.inline {
  display:inline;
}
.has-error .text-control {
  color: #f05050;
}
.no-bold, label.no-bold {
  font-weight:normal;
}
fieldset.fgmb15 .form-group {
  margin-bottom:15px;
}
.form-horizontal .form-inline .form-group {
  margin-left:0;
  margin-right:0;
}
.list-price-input {
  width:80px;
  padding-left:2px;
  padding-right:2px;
  text-align:center;
}
.key-side-tabs .list-group-item {
  border:none;
}
.key-side-tabs .list-group-item.active, .key-side-tabs .list-group-item.active a, .key-side-tabs .list-group-item.active:hover, .key-side-tabs .node-categories_tree.active:hover {
  color:#fff;
  background-color:#428BCA;
}
.key-side-tabs .list-group-item a {
  display:inline-block;
  width:100%;
  color:inherit;
}
.key-side-tabs .list-group-item:not(.active):hover, .key-side-tabs .node-categories_tree:not(.active):hover {
  background-color:#F5F5F5;
}
.no-border {
  border:none;
}
.ml15, .form-horizontal .form-group.ml15 {
  margin-left:15px;
}
.ml7, .form-horizontal .form-group.ml7 {
  margin-left:7px;
}
.mr7, .form-horizontal .form-group.mr7 {
  margin-right:7px;
}
.text-bold {
  font-weight:bold;
}
.text-v-center, .table-bordered > thead > tr > th.text-v-center {
  vertical-align:middle;
}
.option-link:hover, .option-link:focus {
  text-decoration:none;
}
@media (min-width: 992px) {
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
}
.no-padding {
  padding-left:0;
  padding-right:0;
}


/* categories */
.color-square {
  display:block;
  width:17px;
  height:17px;
  margin:0 auto;
}
.c-checkbox-no-label.c-checkbox span, .c-checkbox-no-label.c-radio span {
  margin-left:0;
}
.options-buttons a:hover {
  text-decoration:none;
}
.sort-order-input {
  width:40px;
  padding-left:2px;
  padding-right:2px;
  text-align:center;
}
#categories_tree {
  padding-left:0;
}
.text-left-force {
  text-align:left !important;
}
.form-group-margin-left-0, .form-horizontal .form-group.form-group-margin-left-0 {
  margin-left:0;
}
.form-horizontal .input-group-addon .checkbox-inline {
  padding-top:0;
  margin-right:-10px;
  margin-left:-8px;
}
.colorpicker-big .colorpicker-saturation {
  width:130px;
  height:130px;
}
.colorpicker-big .colorpicker-hue,
.colorpicker-big .colorpicker-alpha {
  width:20px;
  height:130px;
}
.colorpicker-big {
  padding:5px;
}
.panel .panel-heading.login-header{
  font-size: 16px;
  font-weight: bold;	
}


/* shippings */
.rel-icons {
  padding-top:3px;
  padding-left:16px;
}
.rel-icons a:hover {
  text-decoration:none;
}
#ShippingPricesItems .item .has-error-box {
  margin-top:-10px;
  margin-bottom:18px;
}


/* products */
table .record-options .checkbox {
  width:auto;
}
.options-buttons a{
  font-size: 16px;
  color: black;
}
.file-caption-name {
    display: inline-block;
    overflow: hidden;
    max-height: 20px;
    padding-right: 10px;
    word-break: break-all;
}
.kv-caption-icon{
  display: none !important;
}

/* orders */
.table.products-table > thead > tr > th {
  padding:4px 8px;
}
.products-table > tbody > tr {
  background-color:transparent;
}
.products-table > tbody > tr:nth-of-type(4n-2), .products-table > tbody > tr:nth-of-type(4n-3) {
  background-color:#FAFBFC;
}
.products-table select {
  padding-left:4px;
  padding-right:4px;
}
.products-table .unit-div {
  max-width:150px;
}
.address-options {
  padding-top:34px;
  padding-left:10px;
}
.address-options a {
  margin:0 3px;
}
#orderStatusHistoryShow, #orderStatusHistoryHide {
  float:left;
  width:100%;
  margin:6px 0;
}
.customer_info {
  padding-top:6px;
}

.category-form .img-box img {
  max-width:200px;
  max-height:200px;
  margin:4px;
}

.ckeditor-browse a {
  float:left;
  border:2px solid #ccc;
  background-color:#ccc;
  margin:5px;
}
.ckeditor-browse a:hover {
  border-color:#bbb;
  background-color:#bbb;
}
.ckeditor-browse a img {
  float:left;
  max-width:300px;
  max-height:300px;
}
.order-new{
  font-weight: bold;
}
tr.order-accepted {
  background-color: #FADC89 !important; 
}
tr.order-send{
  background-color: #BAFFBA !important;
}
tr.order-cancelled{
  background-color: #FA8E2F !important;
  color: white;
}
tr.order-cancelled .icon-ghost {
  color: white !important;
}
.c-checkbox span, .c-radio span {
  border: 1px solid black;
}
