<div class="btn-group">
  <?php echo $this->Html->link(
      '<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj'), 
      array('controller' => 'KeyBlogs', 'action' => 'category_edit', 0), 
      array('escape' => false, 'class' => 'btn btn-labeled btn-default')
    );
  ?>
</div>