<div class="btn-group">
  <?php echo $this->Html->link('<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj klienta'), array('controller' => 'KeyCustomers', 'action' => 'create'), array('escape' => false, 'title' => __('Dodaj klienta'), 'class' => 'btn btn-labeled btn-default')); ?>
</div>