<div class="btn-group">
  <?php echo $this->Html->link('<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj kategorię'), array('controller' => 'KeyCategories', 'action' => 'create'), array('escape' => false, 'title' => __('Dodaj kategorię'), 'class' => 'btn btn-labeled btn-default')); ?>
</div>