<div class="btn-group">
  <?php echo $this->Html->link('<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj kupon rabatowy'), array('controller' => 'KeyDiscounts', 'action' => 'edit', 0), array('escape' => false, 'title' => __('Dodaj kupon rabatowy'), 'class' => 'btn btn-labeled btn-default')); ?>
</div>