<div class="btn-group">
  <?php echo $this->Html->link('<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj producenta'), array('controller' => 'KeyManufacturers', 'action' => 'create'), array('escape' => false, 'class' => 'btn btn-labeled btn-default')); ?>
</div>