<div class="btn-group">
  <?php echo $this->Html->link('<span class="btn-label"><em class="icon-plus"></em></span>'.__('Dodaj produkt'), array('controller' => 'KeyProducts', 'action' => 'create'), array('escape' => false, 'title' => __('Dodaj produkt'), 'class' => 'btn btn-labeled btn-default')); ?>
</div>